nav.top-nav
  .top-nav__wrap 
   
    - var titles = ['Home','About Us','Services','Careers','News','Documentation','Cosmin Negoita'];
        ul.top-nav__list
          each title, i in titles
            li.top-nav__item
              if i===0
                a(href=`${title}`).top-nav__link.top-nav__link--active #{title}
                //- |j000
              else if i===2
                .top-nav__select
                  select.top-nav__dropdown
                    option.top-nav__option #{title} 
                    option #{title} 2
                    option #{title} 3
              else 
                  a(href=`${title.toLowerCase().replace(" ", "-")}.html`).top-nav__link #{title}

