nav.top-nav
  .top-nav__wrap 
   
    - var titles = ['Home','About Us','Services','Careers','News','Documentation'];
        ul.top-nav__list
          each title, i in titles
            li.top-nav__item
              if i===0
                a(href=`${title}`).top-nav__link.top-nav__link--active #{title}
                //- |j000
              else if i===2
                .top-nav__select
                  select.top-nav__dropdown
                    option.top-nav__option #{title} 
                    option #{title}
                    option #{title}
                    //- .top-nav__select-img
                    //- a(href=`${title}`).top-nav__link #{title}
                //- <i class="material-icons">expand_more</i>
              else 
                  a(href=`${title.toLowerCase().replace(" ", "-")}.html`).top-nav__link #{title}
          li.top-nav__item
            button.btn.btn--white
              |Login
          li.top-nav__item
            button.btn.btn--purple
              |Register

